<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <span style="font-size: 1.2rem; color: gray;">
                 <i class="fas fa-home "></i>
              </span>

            <!-- <ion-icon name="home"></ion-icon> -->
        </ion-tab-button>

        <ion-tab-button tab="eventos">
            <span style="font-size: 1.2rem; color: gray;">
                <i class="fas fa-bullhorn "></i>
             </span>
        </ion-tab-button>

        <ion-tab-button tab="mapa">
            <span style="font-size: 1.2rem; color: gray;">
                <i class="fas fa-globe-americas"></i>
             </span>
        </ion-tab-button>

        <ion-tab-button tab="busca">
            <span style="font-size: 1.2rem; color: gray;">
                <i class="fas fa-search "></i>
             </span>
        </ion-tab-button>

        <ion-tab-button tab="sobre">
            <span style="font-size: 1.2rem; color: gray;">
                <i class="fas fa-info-circle "></i>
             </span>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>