.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
}

div.institution-list-adresss {
    font-family: "RobotoCondensed";
    font-size: 0.7rem;
    margin-top: 5px;
    margin-bottom: 5px;
    color: grey;
}

h2.institution-list-title {
    font-family: "RobotoCondensed";
    font-weight: bold;
    font-size: 0.8rem;
}

span.institution-list-distance {
    color: grey;
    font-size: 0.7rem;
}